[Unit]
Description=tcp mqtt bridge
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20
User=ak
WorkingDirectory=/home/ak/nodes/relay_bridge
Environment=PYTHONPATH=/home/ak/nodes/relay_bridge
ExecStart=/home/ak/nodes/relay_bridge/venv/bin/python bridge.py

[Install]
WantedBy=multi-user.target
