esphome:
  name: chicken32
  friendly_name: chicken32

esp32:
  board: az-delivery-devkit-v4
  framework:
    type: esp-idf


logger:


api:
  encryption:
    key: "wMXimJZPsEut7ZZr5j6tI2gy7nSeuVglBNzugxc76Yz="


ota:
  - platform: esphome
    password: "ab30c954b08387d7260d39feb1eebb46"


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "chick_fallback"
    password: "fallback"


captive_portal:


i2c:
  sda: GPIO21
  scl:
    number: GPIO22


sensor:
  - platform: wifi_signal
    name: "WiFi Signal Sensor"
    update_interval: 60s
  - platform: internal_temperature
    name: "Internal Temperature"
  - platform: sht3xd
    address: 0x44
    temperature:
      name: "Temperatur Hühnerhaus"
      id: "TI_CH"
      unit_of_measurement: "°C"
    humidity:
      name: "Feucht Hühnerhaus"
      id: "HI_CH"
      unit_of_measurement: "°C"  
      accuracy_decimals: 1
    update_interval: 60s


switch:
  - platform: gpio
    pin: 18
    id: gpio_18
    inverted: true
    interlock: [gpio_5]
    interlock_wait_time: 250ms
  - platform: gpio
    pin: 5
    id: gpio_5
    inverted: true
    interlock: [gpio_18]
    interlock_wait_time: 250ms


output:
  - platform: gpio
    pin: 17
    id: gpio_17
    inverted: true
  - platform: gpio
    pin: 19
    id: gpio_19
    inverted: true
  - platform: gpio
    pin: 27
    id: gpio_27
    inverted: true
  - platform: gpio
    pin: 26
    id: gpio_26
    inverted: true
  - platform: gpio
    pin: 25
    id: gpio_25
    inverted: true


fan:
  - platform: binary
    name: "Lüftung Hühnerhaus"
    id: "FAN_CH"
    output: gpio_19
    

light:
  - platform: binary
    name: "Licht Hühnerhaus Zaun"
    id: "LI_CH"
    output: gpio_27
  - platform: binary
    name: "Hühnerhaus (L2)"
    id: "LI_CH2"
    output: gpio_26
  - platform: binary
    name: "Hühnerhaus (L3)"
    id: "LI_CH3"
    output: gpio_25
  - platform: binary
    name: "Pump"
    id: "PUMP"
    output: gpio_25
    icon: "mdi:pump"


cover:
  - platform: time_based
    name: "chick door"
    id: "DO_CH"
    open_action:
      - switch.turn_on: gpio_18
    open_duration: 8s
    close_action:
      - switch.turn_on: gpio_5
    close_duration: 8s
    stop_action:
      - switch.turn_off: gpio_18
      - switch.turn_off: gpio_5
    
