esphome:
  name: kc868-a16
  friendly_name: sauna32


esp32:
  variant: esp32
  framework:
    type: esp-idf


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "sauna_fallback"
    password: "fallback"


captive_portal:


logger:


api:
  encryption:
    key: "wMXimJZPtEut7ZZr5j6tI2gy7nSeuVglBNzugxc76YM="


ota:
  - platform: esphome
    password: "ad30c954b08387d7260d39feb1eebb46"


one_wire:
  platform: gpio
  pin: GPIO14  
  

sensor:
  - platform: wifi_signal
    name: "WiFi Signal Sensor"
    update_interval: 60s
  - platform: internal_temperature
    name: "Internal Temperature"
  - platform: dallas_temp
    name: "Sauna"
    id: sauna_temp
    address: 0xa5000000bdd01628
    update_interval: 60s
  - platform: dallas_temp
    name: "Sauna hinten"
    id: sauna_temp1
    address: 0x2d0000005428bf28
    update_interval: 60s 
  - platform: dallas_temp
    name: "Sauna mitte"
    id: sauna_temp2
    address: 0x2d000000bde8b428
    update_interval: 60s
  - platform: dallas_temp
    name: "Sauna unten"
    id: sauna_temp3
    address: 0xd0000000bc521028 
    update_interval: 60s 
  - platform: dallas_temp
    name: "Sauna aussen"
    id: sauna_temp4
    address: 0xfd00000054118228
    update_interval: 60s


climate:
  - platform: thermostat
    name: "Sauna"
    id: thermos_sauna
    sensor: sauna_temp
    min_heating_off_time: 120s
    min_heating_run_time: 180s
    min_idle_time: 180s
    heat_action:
      - output.turn_on: out_y04
    idle_action:
      - output.turn_off: out_y04
    visual:
      min_temperature: 20.0 °C 
      max_temperature: 90.0 °C
      temperature_step: 1.0 °C


i2c:
  sda: GPIO4
  scl:
    number: GPIO5
    ignore_strapping_warning: true


pcf8574:
  - id: inputs_1_8
    address: 0x22
    pcf8575: false
  - id: inputs_9_16
    address: 0x21
    pcf8575: false
  - id: outputs_1_8
    address: 0x24
    pcf8575: false
  - id: outputs_9_16
    address: 0x25
    pcf8575: false


#binary_sensor:
#  - platform: gpio
#    name: "KC868-A16-X01"
#    pin:
#      pcf8574: inputs_1_8
#      number: 0
#      mode: INPUT
#      inverted: true


light:
  - platform: binary
    name: "Sauna0"
    id: li_sa
    output: out_y01  
  - platform: binary
    name: "Sauna1"
    id: li_sa1
    output: out_y02  
  - platform: binary
    name: "Sauna2"
    id: li_sa2
    output: out_y03  


output:                                                                         
  - platform: gpio 
    id: out_y01
    pin:
      pcf8574: outputs_1_8
      number: 0
      mode: OUTPUT
      inverted: true

  - platform: gpio
    id: out_y02
    pin:
      pcf8574: outputs_1_8
      number: 1
      mode: OUTPUT
      inverted: true

  - platform: gpio
    id: out_y03
    pin:
      pcf8574: outputs_1_8
      number: 2
      mode: OUTPUT
      inverted: true

  - platform: gpio
    id: out_y04
    pin:
      pcf8574: outputs_1_8
      number: 3
      mode: OUTPUT
      inverted: true
